@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Passions+Conflict&display=swap');
#root{
    --color: rgb(255, 255, 255);
}
.back {
    height: auto;
    width: 100vw;
}

.linkStyle {
    text-decoration: inherit;
    color: inherit;
}
.close-but{
    height: 32px;
    width: 32px;
    margin-right: 0;
}
.name-page{
    flex: 0 0 auto;
    font-family: "Great Vibes", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 3.6em;
    height: 3.1;
    text-shadow: 0 0 10px black;
}

.shade_box{  /*Полупрозрачный бокс с текстом*/
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color);
    background-color: rgba(32, 32, 32, 0.623);
    height: inherit;
    width: inherit; 
    font-size: 3em;
    opacity: 0;
    transition: opacity ease-out 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbutton{
    text-align: center;
}



@media(max-width: 430px){
    .name-page{
        font-size: 2.8em;
    }


}

@media(max-width: 338px){
    .name-page{
        font-size: 2em;
    }

}