
.genres-buttons{

    height: inherit;
    align-items: center;
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 1em;
    
}


.row{
    width: 90vw;  /*Соотношение 1/3 для ширины row/genres*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.genres{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37vh;
    width: 30vw;
    transition: box-shadow 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-portret {
    background-image: url("../assets/images/genres/portret.jpg"); 
}
.bg-scenery {
    background-image: url("../assets/images/genres/scenery.JPG"); 
}
.bg-history {
    background-image: url("../assets/images/genres/history.jpg"); 
}
.bg-still-life {
    background-image: url("../assets/images/genres/still-life.jpg"); 
}
.bg-genre-paint {
    background-image: url("../assets/images/genres/genre-paint.jpg"); 
}
.bg-abstraction {
    background-image: url("../assets/images/genres/abstraction.jpg"); 
}







.genres:hover{ 
    box-shadow: 0px 0px 60px rgb(32, 32, 32);
    z-index: 3;

}

.genres:hover .shade_box{
    opacity: 1; /* Показать текст при наведении */
}
.textbutton{
    text-align: center;
}
@media (max-width: 1000px){
    .row{
        width: 90vw;/*Соотношение 1/2 для ширины row/genres*/
    }
    .genres{
        width: 45vw;
    }
    
    
}
@media(max-width: 500px){
    .genres-buttons{
        margin-top: 0em;
        margin-bottom: 0.5em;
    }
    .row{
        width: 90vw;/*Соотношение 1/1 для ширины row/genres*/
    }
    .genres{
        width: 90vw;
    }
}

@media(max-width: 768px){
    .genres-buttons{
       margin-top: 0.5em;
       margin-bottom: 0.5em;
   }
   

}
@media (hover:none){
    .genres{ 
        box-shadow: 0px 0px 60px rgb(32, 32, 32);
        z-index: 3;
    
    }
    
    .genres .shade_box{
        opacity: 1; /* Показать текст при наведении */
    }
}





