
.head {
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    height: 7.1em;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    position: relative; /* Для абсолютного позиционирования nav-links */
}

.Header {
    text-align: center;
    font-family: "Passions Conflict", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6em;
    color: var(--color);
    position: relative;
    z-index: 1; /* Убедитесь, что заголовок выше nav-links */
}

.nav-links { 
    color: var(--color);
    position: absolute; /* Абсолютное позиционирование для навигационных ссылок */
    right: 10vw; /* Отступ от правого края */
    display: flex; /* Используем flexbox для навигационных ссылок */
    gap: 2vw; /* Расстояние между ссылками */
    z-index: 0; /* Убедитесь, что nav-links ниже заголовка */
    font-size:1.8em;
    font-family: "Great Vibes", serif;
    font-weight: 300px;
    font-style: normal;
}



.nav-button {
    display: none; /* Скрываем кнопку по умолчанию на больших экранах */
    display: none;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position: absolute; 
    right: 5vw; /* Отступ от правого края */
    z-index: 0;
    font-size:1.8em;
    background-color: rgba(255, 255, 255, 0);
    border: none; /* Убираем рамку */
    cursor: pointer; /* Указываем, что это кнопка */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход для фона и трансформации */
}
.menu-img{
    height: inherit;
    width: inherit;
    background-image: url('../assets/images/icon-menu.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-button:hover {
    background-color: darken(var(--color), 10%); /* Темнее цвет фона при наведении */
    transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

.nav-menu {
    right: 0;
    border-radius: 10px;
    height: auto;
    width: 200px;
    display: flex; /* Используем flexbox для навигационных ссылок */
    flex-direction: column; /* Вертикальное расположение ссылок */
    position: absolute; /* Абсолютное позиционирование для меню */
    top:4vh;
    right: 5vw; /* Выравнивание по правому краю */
    background-color: #22231e; /* Фон меню */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для меню */
    padding: 0px; /* Отступы внутри меню */
    z-index: 200; /* Убедитесь, что меню выше других элементов */
}

.nav-menu .nav-menu-but {
    border-radius: 10px;
    font-size:1.8em;
    font-family: "Great Vibes", serif;
    font-weight: 300px;
    font-style: normal;
    text-align: center;
    padding: 10px; /* Отступы для ссылок в меню */
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.nav-menu .nav-menu-but:hover {
    background-color: rgba(255, 255, 255, 0.411); /* Фон при наведении на ссылку */
}
.close-but{
    font-size: 1em;
    border: none;
    background-color: #22231e00;
    background-image: url("../assets/images/close-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: var(--color);
    align-self: flex-end;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-right: 3px;
}
.linkstyle {
    text-decoration: inherit;
    color: inherit;
    font-size: 1.5em; /* Установите размер шрифта для ссылок */
}

.Header {
    
    text-align: center;
    font-family: "Passions Conflict", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6em;
    color: var(--color);
    position: relative;
    transition: all 0.5s ease;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;    
    bottom: 0; /* Убедитесь, что это значение корректно */
    height: 2px; /* Толщина подчеркивания */
    background-color: transparent; /* Убираем фон */
    border-bottom: 2px solid var(--color); /* Используем границу для подчеркивания */
    border-radius: 100%; /* Закругляем углы */
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    transform: scaleX(0.6);
    transition: all 0.5s ease;
}

.Header:hover::after {
    bottom: 0.08em;
    transform: scaleX(0.4);
    
}
.Header:hover{
    font-size: 6.3em;
}

.linkStyle {
    text-decoration: inherit;
    color: inherit;
}

.name-page{
    flex: 0 0 auto;
    font-family: "Great Vibes", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 3.6em;
    height: 3.1;
    text-shadow: 0 0 10px black;
}


@media(max-width: 1200px){
    .nav-links{
        right: 4vw;
        font-size: 1.6em;
    }
}

@media(max-width: 1000px){
    .nav-links{
        display: none;
    }
    .nav-button{
        display:flex;
    }
}
@media(max-width: 768px){
    .head{
        height: 5.5em;
    }
   .Header {
       font-size: 4em;
   }
   .Header:hover{
       font-size: 4.4em;
   }
   .Header:hover::after {
       bottom: 0.04em;
       transform: scaleX(0.4);
       
   }

   .nav-links{

        
        gap: 50px; /* Расстояние между ссылками */
        z-index: 0; /* Убедитесь, что nav-links ниже заголовка */
        font-size:1.2em;
   }
   .nav-menu{
    top:3vh;
   }
}











@media(max-width: 430px){

    .head{
        height: 4.5em;
    }
    .Header {
        font-size: 3.8em;
    }
   .Header:hover{
       font-size: 3.8em;
   }
   .Header:hover::after {
       bottom: 0em;
       transform: scaleX(0.6);
       
   }
   .nav-button{
     height: 32px;
     width: 32px;
   }
   .nav-menu{
    top:1vh;
   }

}

@media(max-width: 338px){
    .head{
        height: 4em;
    }
   .Header {
       font-size: 2.8em;
   }

   .Header:hover{
       font-size: 2.8em;
   }
   .Header:hover::after {
       bottom: 0em;
       transform: scaleX(0.6);
   }

}