@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
#root{
    --color: rgb(255, 255, 255);
}
.Home {
    height: auto;
    width: 100vw;
    background-image: url("images/tile.jpg");
    background-repeat: repeat;
    background-size: 200px, 200px;
    /* #TODO Доделать дизайн страницы */
}

.head {
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    height: 6em;
    text-align: center;
}

.Header {
    text-align: center;
    font-family: "Passions Conflict", serif;
  
    font-weight: 600;
    font-style: normal;
    font-size: 6em;
    color: var(--color);
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;    
    bottom: 0; /* Убедитесь, что это значение корректно */
    height: 2px; /* Толщина подчеркивания */
    background-color: transparent; /* Убираем фон */
    border-bottom: 2px solid var(--color); /* Используем границу для подчеркивания */
    border-radius: 100%; /* Закругляем углы */
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    transform: scaleX(0.6);
    transition: all 0.5s ease;
}

.Header:hover::after {
    bottom: 0.08em;
    transform: scaleX(0.4);
    
}
.Header:hover{
    font-size: 6.3em;
}

.linkStyle {
    text-decoration: inherit;
    color: inherit;
}


.buttons{
    align-items: center;
    display: flex;
    width: 100vw;
    margin-top: 3.9em;
    flex-direction: column;
    margin-bottom: 3.9em;
    
}

.gallery{
    overflow: hidden;
    background-image: url("images/gallery.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vw;
    height: 37vh;
    width: 70vw;
    transition: box-shadow 0.6s ease-in;
    display: flex;
}

.lowbuttons{
    display: flex;
}
.genre{
    
    overflow: hidden;
    background-image: url("images/genre.jpg");
    background-repeat: no-repeat;
    background-size: 45vw;
    background-position: center;
    height: 37vh;
    width: 35vw;
    transition: box-shadow 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author{
    overflow: hidden;
    background-image: url("images/authors.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    backdrop-filter: blur(5x);
    height: 37vh;
    width: 35vw;
    transition: box-shadow 0.6s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shade_box{
    text-shadow: 0px 0px 50px rgb(0, 0, 0);;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: rgba(32, 32, 32, 0.438);
    height: inherit;
    width: inherit; 
    font-size: 3em;
    opacity: 0;
    transition: opacity ease-out 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}



.gallery:hover,
.genre:hover,
.author:hover{ 
    box-shadow: 0px 0px 50px rgb(32, 32, 32);
    z-index: 3;

}
.gallery:hover .shade_box,
.genre:hover .shade_box,
.author:hover .shade_box {
    opacity: 1; /* Показать текст при наведении */
}
.textbutton{
    text-align: center;
}

@media (max-width: 1000px){

     .lowbuttons{
        flex-direction: column;
     }
     .genre{
        width: 85vw;
        background-size: 90vw;
     }    
     .author{
        width: 85vw;
        background-size: 90vw;
     }
     .gallery{

        width: 85vw;
        background-size: 85vw, 20vh;
    }
}
@media(max-width: 768px){
    .Header {
        font-size: 4em;
    }
    .Header:hover{
        font-size: 4.4em;
    }
    .Header:hover::after {
        bottom: 0.04em;
        transform: scaleX(0.4);
        
    }
    .gallery{
        width: 90vw;
        background-size: 120vw;
    }
    .genre{
        width: 90vw;
        background-size: 100vw;
     }    
     .author{
        width: 90vw;
        background-size: 90vw;
     }
     .buttons{
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

}









@media(max-width: 430px){
    .Header {
        font-size: 3.8em;
    }
    .Header:hover{
        font-size: 3.8em;
    }
    .Header:hover::after {
        bottom: 0em;
        transform: scaleX(0.6);
        
    }
    .buttons{
        margin-top: 0em;
        margin-bottom: 1em;
    }
    .gallery{
        width: 90vw;
        background-size:150vw;
    }
    .genre{
        width: 90vw;
        background-size:120vw;
     }    
     .author{
        width: 90vw;
        background-size:110vw, 100vh;
     }

    

}

@media(max-width: 338px){
    .Header {
        font-size: 3.8em;
    }
    .Header:hover{
        font-size: 3.8em;
    }
    .Header:hover::after {
        bottom: 0em;
        transform: scaleX(0.6);
        
    }
    .buttons{
        margin-top: 0em;
        margin-bottom: 1em;
    }
    .gallery{
        width: 90vw;
        background-size:180vw;
    }
    .genre{
        width: 90vw;
        background-size:170vw;
     }    
     .author{
        width: 90vw;
        background-size:110vw, 100vh;
     }

    

}

.footer{
    text-align: center;
}