@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
#root{
    --color: #ffffff;
}
.Home {
    /* #TODO Доделать дизайн страницы */
}

.head {
    height: 6em;
    text-align: center;
}

.Header {
    text-align: center;
    font-family: "Passions Conflict", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: var(--color);
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;    
    bottom: 0; /* Убедитесь, что это значение корректно */
    height: 2px; /* Толщина подчеркивания */
    background-color: transparent; /* Убираем фон */
    border-bottom: 2px solid var(--color); /* Используем границу для подчеркивания */
    border-radius: 100%; /* Закругляем углы */
    transform: scaleX(0.6);
    transition: all 0.5s ease;
}

.Header:hover::after {
    bottom: 0.08em;
    transform: scaleX(0.4);
    
}
.Header:hover{
    font-size: 6.3em;
}

.linkStyle {
    text-decoration: inherit;
    color: inherit;
}


.buttons{
    align-items: center;
    display: flex;
    width: 100vw;
    margin-top: 3em;
    flex-direction: column;
    margin-bottom: 3em;
    
}

.gallery{
    background-image: url("images/gallery.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vw, 37vh;
    text-align: center;
    background-color: aqua;
    height: 37vh;
    width: 70vw;
    
}
.lowbuttons{
    display: flex;
}
.genre{
    background-image: url("images/genre.jpg");
    background-repeat: no-repeat;
    background-size: 35vw, 37vh;
    background-position: center;
    text-align: center;
    background-color: blueviolet;
    height: 37vh;
    width: 35vw;
}
.author{
    background-image: url("images/authors.png");
    background-repeat: no-repeat;
    background-size: 70vw, 37vh;
    background-position: center;
    text-align: center;
    background-color: brown;
    height: 37vh;
    width: 35vw;
}






@media (max-width: 1000px){

     .lowbuttons{
        flex-direction: column;
     }
     .genre{
        width: 85vw;
     }    
     .author{
        width: 85vw;
     }
     .gallery{
        width: 85vw;
    }
}
@media(max-width: 768px){
    .Header {
        font-size: 4em;
    }
    .Header:hover{
        font-size: 4.4em;
    }
    .Header:hover::after {
        bottom: 0.04em;
        transform: scaleX(0.4);
        
    }
    .gallery{
        width: 90vw;
    }
    .genre{
        width: 90vw;
     }    
     .author{
        width: 90vw;
     }
     .buttons{
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

}

@media(max-width: 400px){
    .Header {
        font-size: 3.8em;
    }
    .Header:hover{
        font-size: 3.8em;
    }
    .Header:hover::after {
        bottom: 0em;
        transform: scaleX(0.6);
        
    }
    .buttons{
        margin-top: 0em;
        margin-bottom: 1em;
    }
    .gallery{
        width: 90vw;
    }
    .genre{
        width: 90vw;
     }    
     .author{
        width: 90vw;
     }

    

}

.footer{
    text-align: center;
}