html{
  background-image: url("./assets/images/tile.jpg");
  background-repeat: repeat;
  background-size: 26vw, 26vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


   

